<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.xp.coachview.mapper.ClubMapper">

    <resultMap id="clubResultMap" type="indi.xp.coachview.model.Club">
        <id column="club_id" property="clubId" />
        <result column="club_name" property="clubName" />
        <result column="admin_id" property="adminId" />
        <result column="admin_name" property="adminName" />
        <result column="province" property="province" />
        <result column="province_name" property="provinceName" />
        <result column="city" property="city" />
        <result column="city_name" property="cityName" />
        <result column="region" property="region" />
        <result column="region_name" property="regionName" />
        <result column="county" property="county" />
        <result column="county_name" property="countyName" />
        <result column="street" property="street" />
        <result column="street_name" property="streetName" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="active_time" property="activeTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>
    
    <sql id="table_name">
        club
    </sql>
    
    <sql id="common_where">
        where delete_status = 0
        <include refid="auth_filter" />
    </sql>

    <sql id="query_by_param">
        <if test="paramMap != null and !paramMap.isEmpty()">
            <foreach collection="paramMap" item="valueList" index="key">
                <if test="valueList != null and valueList.length > 0">
                    and ${key} in
                    <foreach collection="valueList" item="value" open="(" separator="," close=")">
                        #{value}
                    </foreach>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="auth_filter">
        <if test="authFilterMap != null and !authFilterMap.isEmpty()">
            <foreach collection="authFilterMap" item="valueList" index="key">
                <if test="valueList != null and valueList.length > 0">
                    and ${key} in
                    <foreach collection="valueList" item="value" open="(" separator="," close=")">
                        #{value}
                    </foreach>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="id_in">
        <if test="idList != null and idList.size() > 0">
            and club.club_id in
            <foreach collection="idList" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
    </sql>

    <select id="getClubById" parameterType="java.lang.String" resultMap="clubResultMap">
        select *
        from club
        <include refid="common_where" />
        and club_id = #{id}
    </select>

    <select id="getClubByIdList" parameterType="java.util.List" resultMap="clubResultMap">
        select *
        from club
        <include refid="common_where" />
        <include refid="id_in" />
    </select>

    <select id="findClubList" parameterType="java.util.List" resultMap="clubResultMap">
        select *
        from club
        <include refid="common_where" />
    </select>

    <insert id="addClub">
        insert into club(club_id, club_name, admin_id,
            admin_name, province, province_name, city, city_name, region,
            region_name, county, county_name, street, street_name, status,
            create_time, active_time, delete_status)
        values(#{club.clubId}, #{club.clubName}, #{club.adminId},
            #{club.adminName}, #{club.province}, #{club.provinceName},
            #{club.city}, #{club.cityName}, #{club.region}, #{club.regionName},
            #{club.county}, #{club.countyName}, #{club.street}, #{club.streetName},
            #{club.status}, #{club.createTime}, #{club.activeTime}, #{club.deleteStatus})
    </insert>

    <update id="updateClub">
        update club set
            club_name = #{club.clubName},
            admin_id = #{club.adminId},
            admin_name = #{club.adminName},
            province = #{club.province},
            province_name = #{club.provinceName},
            city = #{club.city},
            city_name = #{club.cityName},
            region = #{club.region},
            region_name = #{club.regionName},
            county = #{club.county},
            county_name = #{club.countyName},
            street = #{club.street},
            street_name = #{club.streetName},
            status = #{club.status},
            create_time = #{club.createTime},
            active_time = #{club.activeTime},
            delete_status = #{club.deleteStatus}
        <include refid="common_where" />
        and club_id = #{club.clubId}
    </update>
    
    <update id="delete">
        update <include refid="table_name" /> set
            delete_status = 1
        <include refid="common_where" />
        and club_id = #{id}
    </update>
    
    <update id="batchDelete" parameterType="java.util.List" >
        update <include refid="table_name" /> set
            delete_status = 1
        <include refid="common_where" />
        <include refid="id_in" />
    </update>

    <select id="getByWhere" parameterType="java.util.Map" resultMap="clubResultMap">
        select * from
        <include refid="table_name" />
        <include refid="common_where" />
        <include refid="query_by_param" />
        limit 1
    </select>

    <select id="findByWhere" parameterType="java.util.Map" resultMap="clubResultMap">
        select * from <include refid="table_name" />
        <include refid="common_where" />
        <include refid="query_by_param" />
    </select>
    
    <select id="queryCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from <include refid="table_name" />
        <include refid="common_where" />
        <include refid="query_by_param" />
    </select>
    
    <update id="updateByWhere" parameterType="java.util.Map">
        update <include refid="table_name" /> set
        <foreach collection="updateMap" item="value" index="key" separator=",">
            ${key} = #{value}
        </foreach>
        <include refid="common_where" />
        <include refid="query_by_param" />
    </update>
    
    <select id="findClubUserAuthorizedClubIdList" parameterType="java.lang.String" resultType="java.lang.String">
        select club.club_id
        from team left join school on team.school_id = school.school_id left join club on school.club_id = club.club_id 
        where team.delete_status = 0 and school.delete_status = 0 and club.delete_status = 0 
            and (club.admin_id = #{uid} or school.admin_id = #{uid} or team.admin_id = #{uid})
        group by club.club_id
    </select>
    
    <select id="findSchoolUserAuthorizedClubIdList" parameterType="java.lang.String" resultType="java.lang.String">
        select club.club_id
        from team left join school on team.school_id = school.school_id left join club on school.club_id = club.club_id 
        where team.delete_status = 0 and school.delete_status = 0 and club.delete_status = 0 
            and (school.admin_id = #{uid} or team.admin_id = #{uid})
        group by club.club_id
    </select>
    
    <select id="findTeamUserAuthorizedClubIdList" parameterType="java.lang.String" resultType="java.lang.String">
        select club.club_id
        from team left join school on team.school_id = school.school_id  left join club on school.club_id = club.club_id 
        where team.delete_status = 0 and school.delete_status = 0 and club.delete_status = 0 
            and team.admin_id = #{uid}
        group by club.club_id
    </select>

</mapper>