<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="indi.xp.coachview.mapper.UserMapper">

    <resultMap id="userResultMap" type="indi.xp.coachview.model.User">
        <id column="uid" property="uid" />
        <result column="user_name" property="userName" />
        <result column="user_email" property="userEmail" />
        <result column="user_password" property="userPassword" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="company" property="company" />
        <result column="department" property="department" />
        <result column="title" property="title" />
        <result column="status" property="status" />
        <result column="active_time" property="activeTime" />
        <result column="create_time" property="createTime" />
        <result column="delete_status" property="deleteStatus" />
    </resultMap>

    <sql id="table_name">
        user
    </sql>

    <sql id="common_where">
        where delete_status = 0
    </sql>

    <sql id="id_in">
        <if test="uidList != null and uidList.size() > 0">
            and user.uid in
            <foreach collection="uidList" item="uid" open="(" separator="," close=")">
                #{uid}
            </foreach>
        </if>
    </sql>

    <select id="getUserByUid" parameterType="java.lang.String" resultMap="userResultMap">
        select *
        from user
        <include refid="common_where" />
        and uid = #{id}
    </select>

    <select id="getUserByPhone" parameterType="java.lang.String" resultMap="userResultMap">
        select *
        from user
        <include refid="common_where" />
        and phone = #{phone}
    </select>

    <select id="findUserListByUidList" parameterType="java.util.List" resultMap="userResultMap">
        select *
        from user
        <include refid="common_where" />
        <include refid="id_in" />
    </select>

    <select id="findUserList" parameterType="java.util.List" resultMap="userResultMap">
        select *
        from user
        <include refid="common_where" />
    </select>

    <insert id="addUser">
        insert into user(uid, user_name, user_email,
        user_password, name, phone, company, department,
        title, status,
        active_time, create_time, delete_status)
        values(#{user.uid},
        #{user.userName}, #{user.userEmail},
        #{user.userPassword},
        #{user.name}, #{user.phone}, #{user.company},
        #{user.department}, #{user.title},
        #{user.status},
        #{user.activeTime}, #{user.createTime}, #{user.deleteStatus})
    </insert>

    <update id="updateUser">
        update user set
        user_name = #{user.userName},
        user_email = #{user.userEmail},
        user_password =
        #{user.userPassword},
        name = #{user.name},
        phone =
        #{user.phone},
        company = #{user.company},
        department = #{user.department},
        title
        = #{user.title},
        status =
        #{user.status},
        active_time =
        #{user.activeTime},
        create_time = #{user.createTime},
        delete_status =
        #{user.deleteStatus}
        where uid = #{user.uid}
    </update>
    
    <update id="delete">
        update <include refid="table_name" /> set
            delete_status = 1
        <include refid="common_where" />
        and club_id = #{id}
    </update>
    
    <update id="batchDelete" parameterType="java.util.List" >
        update <include refid="table_name" /> set
            delete_status = 1
        <include refid="common_where" />
        <include refid="id_in" />
    </update>
    
    <select id="getByWhere" parameterType="java.util.Map" resultMap="userResultMap">
        select * from <include refid="table_name" />
        <include refid="common_where" />
        <foreach collection="paramMap" item="valueList" index="key" >
            <if test="valueList != null and valueList.length > 0">
                and ${key} in
                <foreach collection="valueList" item="value" open="(" separator="," close=")">
                    #{value}
                </foreach>
            </if>
        </foreach>
        limit 1
    </select>

    <select id="findByWhere" parameterType="java.util.Map" resultMap="userResultMap">
        select * from <include refid="table_name" />
        <include refid="common_where" />
        <foreach collection="paramMap" item="valueList" index="key" >
            <if test="valueList != null and valueList.length > 0">
                and ${key} in
                <foreach collection="valueList" item="value" open="(" separator="," close=")">
                    #{value}
                </foreach>
            </if>
        </foreach>
    </select>
    
    <select id="queryCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1) from <include refid="table_name" />
        <include refid="common_where" />
        <foreach collection="paramMap" item="valueList" index="key" >
            <if test="valueList != null and valueList.length > 0">
                and ${key} in
                <foreach collection="valueList" item="value" open="(" separator="," close=")">
                    #{value}
                </foreach>
            </if>
        </foreach>
    </select>
    
    <update id="updateByWhere" parameterType="java.util.Map">
        update <include refid="table_name" /> set
        <foreach collection="updateMap" item="value" index="key" separator=",">
            ${key} = #{value}
        </foreach>
        <include refid="common_where" />
        <foreach collection="paramMap" item="valueList" index="key" >
            <if test="valueList != null and valueList.length > 0">
                and ${key} in
                <foreach collection="valueList" item="value" open="(" separator="," close=")">
                    #{value}
                </foreach>
            </if>
        </foreach>
    </update>

</mapper>